.container {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center horizontally */
    text-align: center;
    margin-top: 50px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top:15px;
}

/* CSS */
.button-15 {
  background-image: linear-gradient(#bb76f3, #6d0fac);
  border: 1px solid #bb76f3;
  border-radius: 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  direction: ltr;
  font-family: "SF Pro Text","SF Pro Icons","AOS Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -.022em;
  line-height: 1.47059;
  min-width: 30px;
  overflow: visible;
  padding: 4px 15px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-15:disabled {
  cursor: default;
  opacity: .3;
}

.button-15:hover {
  background-image: linear-gradient(#fdfdfd, #6d0fac);
  border-color: #bb76f3;
  text-decoration: none;
}

.button-15:active {
  background-image: linear-gradient(#ffffff, #a254d6);
  border-color: #bb76f3;
  outline: none;
}

.button-15:focus {
  box-shadow: rgba(203, 58, 240, 0.5) 0 0 0 3px;
  outline: none;
}